/* Custom CSS for mobile navbar alignment */
@media (max-width: 768px) {
	.nav {
		display: flex !important;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 0 10px;
	}

	#menu {
		order: 2;
		margin-left: auto;
	}

	.menu {
		display: flex;
		justify-content: flex-end;
	}

	/* Hide site title on mobile only */
	.logo>a:not(.button):not([id]) {
		display: none !important;
	}

	/* align logo to the right */
	.logo {
		order: 1;
	}

}

@media (max-width: 480px) {

	.nav {
		padding: 0 0px;
	}

	.logo {
		margin-left: 0px;
		order: 1;
	}

}